<div class="container">
  <h1>Flooring</h1>
  <div class="gallery">
    <div class="gallery-item">
      <img src="assets/images/flooring/flooring-1.jpg" alt="Flooring 1">
    </div>
    <div class="gallery-item">
      <img src="assets/images/flooring/flooring-2.jpg" alt="Flooring 2">
    </div>
    <div class="gallery-item">
      <img src="assets/images/flooring/flooring-3.jpg" alt="Flooring 3">
    </div>
    <div class="gallery-item">
      <img src="assets/images/flooring/flooring-4.jpg" alt="Flooring 4">
    </div>
  </div>
</div>