<header>
  <nav>
    <div class="logo">
      <img src="assets/logo.jpg" alt="Taggart Building & Remodeling Inc. Logo">
    </div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li class="dropdown">
        <a>Services</a>
        <div class="dropdown-content">
          <a routerLink="/bathroom-remodeling">Bathroom Remodeling</a>
          <a routerLink="/kitchen-remodeling">Kitchen Remodeling</a>
        </div>
      </li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>